
/* Mobile breakpoint */
@media screen and (min-width: 375px) {
  background-color: black!important;
}

.about-header{
		
  position: relative;
  height: 350px;
  background-image: linear-gradient(#156767, #156860);
}


 .header-about-info{
	 padding: 125px 0;

	
  text-align: center;
  color: white;
}

.header-para{
	padding-top: 0px;

}


svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}


  
  .well-middle{
  	text-align: center;
    padding: 50px 50px;
  }



.section-headline h2 {
  
  line-height: 2em;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}

.about-area {
  background-color: #f9f9f9;
  width: 100%;
  padding: 50px 0;
}

.single-well>a {
  display: block;
}

.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
}



.single-well p {
  color: #444;
}

.about-img{
	width: 100%;
	height: 260px;
}

.about-us-content{
	padding: 50px 0;
}

.profiles {
  width: 100%;
  margin: 0 auto;
}

.employees h2 {
  padding-top: .7em;
  color: white;
  padding-left: 2.3em;
}

.div-employee {
  width: 90%;
  display: flex;
  align-content: center;
}

.div-employeeContent {
  color: white;
  width: 100%;
  padding-left: 2em;
  display: flex;
  align-content: space-around;
  padding-bottom: 2em;
}

.div-employeeContent h5 {
  font-size: 1em;
  padding-top: 8px;
}

.div-employeeContent p {
  font-size: 0.7em;
  font-weight: 300;
}

.employee-text {
  width: 70%;
  padding-right: 1.5em;
  padding-left: 5em;
}

.imgEmployee {
  height: 400px;
  width: auto;
  padding-right: 5em;
}

.floatRight {
  float: right
}