.genre-section{
  color:#fff;
}

.genre-section-heading{
  font-weight:500;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.genre-cont-head{
  padding-top: 25px;
font-size: 25px;
  font-weight: 500;
}

.genre-cont-para{
  font-size: 12px;
}

#vid {
  background-image:
   url(../img/cumpleanera-thumbnail.png);
  background-size: cover;
}
