.head-navbar{
  background: rgba(0,0,0,0.3) !important;
    font-size: 13px !important;
    padding:0 30px !important;

}





 .nav-style{
  color: white;
 font-family: DIN Alternate;
 font-weight: 0;



 }

a.nav-link.nav-style:hover {
  background: #156767;
   border-radius: 5px;
        cursor: pointer;
        color: white;

}



li.nav-style > a.active {
    display: block;
    width: 100%;
    height:100%;
    color: white;
    background-color: blue;
}

.nav-item {
  background-color: #03232B;
  display: flex;
  justify-content: space-between;
}

.nav-start {
  display: flex;
  flex-direction: row;
}

.nav-end {
  display: flex;
  flex-direction: row;
}