
 .navbar-cont{
  position: fixed;
  z-index: 2;
  width: 100%;
 }
 
 .nav-style{
  color: white;
 }

a.nav-link.nav-style:hover {
  background: #156767;
        cursor: pointer;
        color: white;
}