.head-navbar {
  background: transparent !important;
  font-size: 13px !important;
  padding:0 30px !important;
}

 .nav-style {
  color: white;
 font-family: DIN Alternate;
 font-weight: 0;
}

.nav-item a:visited {
  color: white;
}

a.nav-link.nav-style:hover {
  background: #156767;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

navlink.nav-style > a.active {
    display: block;
    width: 100%;
    height:100%;
    color: white;
    background-color: blue;
}

.nav-item {
  background-color: #03232B;
  display: flex;
  justify-content: space-between;
}

.nav-start {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
}

.nav-end {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
}

.genresDropdown {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: #156767;
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: .5em;
}

.genresDropdown a {
  color: white;
  text-decoration: none;
  display: block;
}

.genresDropdown a:hover {
  background-color: #156767!important;
  text-decoration: none!important;
  color: white;
}

.genresDropdown a:hover {background-color: #ddd;}

#navGenres:hover .genresDropdown {
  display: flex;
  flex-direction: column;
}
