/* Desktop wide breakpoint */
@media screen and (min-width: 1366px) {

}

/* Tablet breakpoint */
@media screen and (min-width: 1024px) {
  .form-group {
    width: 40vw!important;
    margin: 0 auto;
  }

  .div-submit {
    width: 25vw!important;
    margin: 0 auto;
  }
}

/* Mobile breakpoint */
@media screen and (min-width: 375px) {

}

.signup-head-text {
  color: white;
  padding: 10px 0;
}

.form-group {
  width: 85vw;
  margin: 0 auto;
}

.form-group input {
  border: none;
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
}

.form-group input:focus {
  color: white;
  background-color: transparent;
  font-size: 20px;
  outline: none;
}

::-webkit-input-placeholder {
  text-transform: none;
 }

.div-underline {
  border-bottom: 1px solid #ffffff;
}

.fillWhite {
  color: #fff;
}

#inlineBlock {
  display: inline!important;
}

.div-submit {
  width: 85vw;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGreen {
  font-weight: bold;
  font-size: 18px;
  background-color: #00CB94;
  color: #005C43;
  border: none;
  width: 80vw;
  height: 53px;
}

.div-signIn {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.div-signIn p {
  color: grey;
  padding-top: 50px;
}

.linkPrimary {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid #00CB94;
  letter-spacing: 0.02em;
}

.div-progressIndicator {
  width: 80vw;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.circle-active {
  fill: "#00CB94";
}

/* auto-complete form styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #005C43 inset;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}