.toggleButton{
    height: 2.3rem;
    width: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toggleButton__img{
    height: .4rem;
    width: 3rem;
    background-color: black;
}

.toggleButton__img.color{
    background-clip: white
}

